@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
* {
    font-family: "Barlow", sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

:root {
    --color-standard: #e4a2a3;
    --color-standard-hover: #ce9495;
    --color-white: #ffffff;
    --color-text-standard: #6b7280;
    --color-text-standard-hover: #374151;
    --color-text-clean: #d1d5db;
    --transition-standard: all 0.5s;
}
::selection {
    background-color: var(--color-standard);
    color: var(--color-white);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-standard);
    opacity: 0;
    transition: opacity 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}

.md\:h-120 {
    height: 42rem;
}

@media (min-width: 768px) {
    .md\:h-120 {
        height: 30rem;
    }
}

.text-clean-rose {
    color: var(--color-standard) !important;
}

.bg-transparent {
    background-color: transparent;
}

.bg-standard {
    background-color: var(--color-standard);
}

.bg-standard-hover {
    background-color: var(--color-standard);
}

.bg-clean-rose {
    background-color: #eedede78;
}

.first-section {
    background-color: var(--color-white);
    text-align: center;
}

.title-section {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-standard);
}

.text-card {
    font-size: 1rem;
    color: var(--color-text-standard-hover);
}

.img-card-methods {
    filter: invert(0.25);
}

.text-nav,
.text-nav-actived {
    display: inline-flex;
    align-items: center;
    line-height: 1.25rem;
    font-weight: 500;
    font-size: 0.975rem;
    padding-top: 0.25rem;
    margin: 0 1rem;
}

.text-nav-actived {
    color: var(--color-white);
    border-color: var(--color-white);
    border-bottom-width: 2px;
}

.text-nav {
    color: var(--color-white);
    border-color: transparent;
    border-bottom-width: 2px;
    transition: var(--transition-standard);
}

.text-nav:hover {
    border-color: var(--color-white);
}

.btn-contact-us {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-transform: none;
    color: #ffffff;
    cursor: pointer;
    background-color: var(--color-standard);
    transition: var(--transition-standard);
}

.btn-contact-us:hover {
    background-color: var(--color-standard-hover);
}

.btn-rose-modal {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-white);
    text-transform: uppercase;
    padding: 10px;
    background-color: var(--color-standard) !important;
    border-radius: 25px 0px;
    transition: var(--transition-standard);
}

.btn-rose-modal-2 {
    font-size: 0.875rem;
    color: var(--color-white);
    padding: 10px 20px;
    background-color: var(--color-standard) !important;
    border-radius: 25px 0px;
    transition: var(--transition-standard);
}

.btn-rose-modal:hover,
.btn-rose-modal-2:hover {
    background-color: var(--color-standard-hover) !important;
}

.btn-rose {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-white);
    text-transform: uppercase;
    padding: 15px;
    background-color: var(--color-standard) !important;
    border-radius: 25px 0px;
}

.img-logo {
    max-width: 150px;
}

.icons-socials,
.icons-socials-footer {
    display: flex;
    align-items: center;
}

.icons-socials img,
.icons-socials-footer img {
    transition: var(--transition-standard);
    cursor: pointer;
}

.icons-socials img {
    max-width: 30px;
    margin: 0 10px;
}

.icons-socials-footer img {
    max-width: 20px;
    margin-right: 10px;
}

.icons-socials img:hover {
    transform: scale(1.1);
}

.color-text {
    color: var(--color-standard);
    border-bottom: 1px solid transparent;
    transition: --transition-standard;
}

.color-text:hover {
    border-bottom: 1px solid var(--color-standard) !important;
}

.focus-standard:focus,
.border-standard {
    border-color: var(--color-standard) !important;
    outline: none;
    box-shadow: 0 0 3px var(--color-standard) !important;
}

.btn-submit {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-white);
    text-transform: uppercase;
    padding: 5px 25px;
    background-color: var(--color-standard) !important;
    border-radius: 25px 0px;
}

[type="checkbox"]:checked:hover,
[type="checkbox"]:checked:focus,
[type="radio"]:checked:hover,
[type="radio"]:checked:focus,
[type="checkbox"]:checked {
    background-color: #e4a2a3 !important;
}

@media (max-width: 567px) {
    .navbar-background-white {
        background-color: #ffffff;
    }
    .navbar-background-white a {
        color: #ce9495;
        border-bottom: 1px solid transparent;
    }
    .navbar-background-white a:hover {
        color: #ce9495;
        border-bottom: 1px solid #ce9495;
    }

    .navbar-background-rose {
        background-color: #ce9495;
    }
}
